node_modules

v-manager
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.prof
*.out

*.log

coverage.txt

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/vendor/
/bin/
/dist/

/.idea/
*.swp
*.swo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

go.work

.env
